*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.caixa{
    width: 460px;
    height: 570px;
    background-color: rgb(248, 245, 245);
    border-radius: 15px;
    
    
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.ilu img{
    border-top-left-radius: 15px;
    border-top-right-radius:15px ;
    width: 100%;
    background-size: cover;
    height: auto;
    
}

.header{
    padding-top: 15px;
    margin: auto;
    font-size: 16px;
    padding: 10px 80px;
    
}

.header h1{
    text-align: center;
    padding: 20px;
}

.header p{
    text-align: center;
}

.plan{
    background-color: rgba(0, 255, 255, 0.048);
    height: 80px;
    width: 60%;
    margin: auto;
    display: flex;
   
    justify-content: space-around;
    align-items: center;
    font-size: 10px;
    border-radius: 15px;
    margin-bottom: 15px;
}

.plan p{
    color: gray;
    font-size: 13px;
}
.plan img{
    height: 50%;
}

.plan a{
    color: hsl(244,72%,50%);
    font-size: 16px;
    font-weight: bold;
}

.anual{
    margin-right: 35px;

}

.caixa button{
    margin:  auto ;
    width: 70%;
    background-color: hsl(244,72%,50%);
    color: white;
    outline: none;
    border: 1px solid black;
    border-radius: 15px;
    height: 40px;
    cursor: pointer;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.btn button{
    box-shadow: 0px 5px 30px gray;
    margin-bottom: 20px;
}